
/*RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*COMMON*/

.app-container{
    width: 100%;
    height: 100vh;
    background-color: lightcoral;
    position: relative;
}

main {
    background-color: lightgreen;
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
}

ul {
    list-style-type: none;
}

/*banner*/

.banner {
    background-color: rgb( 0, 0, 0, 0.5);
    width: calc(100% - 250px);
    height: 80px;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn-up {
    color: white;
    border: 1px solid;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    margin-right: 5px;
    padding: 10px;
    font-size: x-small;
}

.btn-up:hover {
    font-size: smaller;
}

/*side-nav*/
.side-nav {
    background-color: lightskyblue;
    width: 250px;
    padding-left: 1rem;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}

.logo {
    width: 150px;
    height: auto;
    margin: 1rem;
}

.playlists {
    flex-grow: 1;
}

.icon {
    width: 30px;
    vertical-align: middle;
}

.white-text {
    color: white;
}

.opacity {
    opacity: 0.8;
}

.opacity:hover {
    opacity: initial;
}

/*main-content*/
.main-content {
    background-color: aqua;
    width: calc(100% - 250px);
    overflow-y: auto;
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
}

.soundtrack {
    width: 130px;
    height: 130px;
    border: 1px solid;
    margin-left: 1rem;
    margin-bottom: 3rem;
}


/*footer*/

footer {
    background-color: lightyellow;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}