
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:wght@100;200;300;400;500&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*COMMON*/

body {
    font-family: 'Fredoka One', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-weight: bolder;
}

.app-container{
    width: 100%;
    height: 100vh;
    background-color: lightcoral;
    position: relative;
}

main {
    background-color: lightgreen;
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
}

ul {
    list-style-type: none;
}

hr {
    margin: 0.5rem;
}

.flex{
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.line {
    line-height: 2rem;
}

.padding-text {
    padding: 1rem 1rem;
}

.align-center {
    text-align: center;
}

/*banner*/

.banner {
    background-color: rgb( 0, 0, 0, 0.5);
    width: calc(100% - 250px);
    height: 80px;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn-up {
    color: white;
    border: 1px solid;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    margin-right: 5px;
    padding: 10px;
    font-size: x-small;
}

.btn-up:hover {
    font-size: smaller;
}

/*side-nav*/
.side-nav {
    background-color: black;
    width: 250px;
    padding-left: 1rem;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    line-height: 30px;
}

.logo {
    width: 150px;
    height: auto;
    margin: 1rem;
}

.playlists {
    flex-grow: 1;
}

.icon {
    width: 30px;
    vertical-align: middle;
}

.white-text {
    color: white;
}

.opacity {
    opacity: 0.4;
}

.opacity:hover {
    opacity: initial;
}

.icon-small {
    width: 25px;
    border-radius: 50%;
    background-color: gray;
    vertical-align: middle;
}

.account {
    margin-bottom: 0.5rem;
}

/*main-content*/
.main-content {
    background-color: rgb(21, 23, 34);
    width: calc(100% - 250px);
    overflow-y: auto;
    padding-top: 80px;
}

.top-menu {
    padding-bottom: 1rem;
    font-size: smaller;
}

.soundtrack {
    width: 130px;
    height: 130px;
}

.margin-img {
    margin-left: 1rem;
    margin-bottom: 3rem;
}

.soundtrack:hover {
    filter: opacity(0.4);
}

.circle {
    border-radius: 50%;
}

/*footer*/

footer {
    background-color: rgb(40, 40, 40);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: x-small;
}

.little-img {
    width: 50px;
}

.align-items {
    align-items: center;
}

.side-padd {
    padding-left: 10px;
    padding-right: 20px;
}

.left-padd {
    padding-left: 10px;
}

.footer-icon {
    font-size: 15px;  
}

.footer-col-left {
    width: 250px;
}

.footer-col-center {
    width: 40%;
}

.footer-col-right {
    width: 250px;
}

.play-bar {
    width: 80%;
    height: 3px;
    background-color: lightslategray;
}

.progress {
    width: 20%;
    height: 3px;
    background-color: white;
    position: relative;
}

.cursor {
    width: 13px;
    height: 13px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: -4px;
    display: none;
}

.progress:hover .cursor {
    display: inline-block;
}

.progress:hover {
    background-color: rgb(128, 255, 44);
}

.bottom-padd {
    padding-bottom: 30px;
}

.smaller {
    font-size: xx-small;
}

