
/*RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*COMMON*/

.app-container{
    width: 100%;
    height: 100vh;
    background-color: lightcoral;
    position: relative;
}

main {
    background-color: lightgreen;
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
}

/*banner*/

.banner {
    background-color: lightcyan;
    width: calc(100% - 250px);
    height: 80px;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: flex-end;
}

.btn-up {
    border: 1px solid;
    text-align: center;
    text-decoration: none;
}

/*side-nav*/
.side-nav {
    background-color: lightskyblue;
    width: 250px;
    overflow-y: hidden;
}

/*main-content*/
.main-content {
    background-color: aqua;
    width: calc(100% - 250px);
    overflow-y: auto;
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
}

.soundtrack {
    width: 130px;
    height: 130px;
    border: 1px solid;
    margin-left: 10px;
}


/*footer*/

footer {
    background-color: lightyellow;
    width: 100%;
    height: 100px;
}